.GeneralText{
    margin-top: 20px;
    margin-left: 100px;
}

.URL-Card{
    margin-top:2rem;
    margin-left:2rem;
    margin-right:2rem; 
    margin-bottom:1rem; 
}

.button{
    margin-top:1rem;
    margin-left:1rem;
    margin-right:1rem; 
    margin-bottom:1rem; 
}